.clients {
  // display: flex;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px;
  border-style: solid;
  border-color: var(--border-client-color);
  border-radius: 5px;
  fill: var(--border-client-color);
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-link-color);
    fill: var(--accent-link-color);
  }
}
.clients__icon {
  width: 106px;
  height: 60px;
}
