.footer__address {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* font-weight: 400; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-link-color);
    color: var(--accent-link-color);
  }
}
.footer__address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  /* font-weight: 400; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-link-color);
    color: var(--accent-link-color);
  }
}
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  color: var(--logo-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer__web {
  color: var(--accent-link-color);
}

.footer__studio {
  color: var(--accent-text-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__box {
  display: flex;
  align-items: baseline;
}
