.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--primary-fone-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Задан курсор при наведении*/
}
.icon-close {
  width: 18px;
  height: 18px;
  fill: var(--logo-text-color);
  /* outline: 1px solid springgreen; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button-close:hover &,
  .button-close:focus & {
    fill: var(--accent-link-color);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  overflow: visible;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);
}
