.social {
  // display: block;
  margin-left: 70px;
  margin-right: 93px;
}
.social__title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social__list {
  display: flex;
}
.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--accent-text-color);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-link-color);
  }
}
.social__item {
  border-radius: 50%;
  background-color: var(--social-bg-color);

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social__icon {
  width: 20px;
  height: 20px;
  /* margin: 12px; */
}
