.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
}
.team__item {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  text-align: center;
  // display: flex;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__section {
  background-color: #f5f4fa;
}

.team__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
